<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=using plain html in pug">
  <title>#{title}</title>

  <!-- INCLUDING static CSS FILE --> 
  style
      include ../static/style.css

</head>

<body>
  <header class="header">
    <!-- left box for logo -->
    <div class="left">
        <img src="../static/img/gym-logo_219982-7.jpg" alt="">
    </div>
    <!-- mid box for navbar -->
    <div class="mid">
        <ul class="navbar">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="/">About us</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="/">Contact us</a></li>
        </ul>
    </div>
    <!-- right box for buttons -->
    <div class="right">
        <button class="btn">Call us now</button>
        <button class="btn">E-mail us</button>
    </div>
</header>
<div class="container">
    <h1> JOIN THE BEST GYM OF MEERUT NOW</h1>
    <form action="/" method="post">
        <div class="formgroup">
            <input type="text" name="name" placeholder="Enter your Name">
        </div>
        <div class="formgroup">
            <input type="text" name="age" placeholder="Enter your age">
        </div>
        <div class="formgroup">
            <input type="text" name="email" placeholder="Enter your E-mail">
        </div>
        <div class="formgroup">
            <input type="text" name="gender" placeholder="Enter your Gender">
        </div>
        <div class="formgroup">
            <input type="text" name="more" placeholder="More about you">
        </div>
        <button class="btn">Submit</button>
    </form>
</div>
</body>

</html>